@import "../../../styles.scss";

//TODO add media-query or similar
.layout-auth-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .auth-page {
    max-width: 800px;
    min-width: 800px;

    ::ng-deep .mat-tab-body-content {
      overflow: hidden;
    }
    ::ng-deep .mat-tab-label {
      width: 50%;
      color: white;
      font-weight: 700;
      &.mat-tab-label-active {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    ::ng-deep .mat-ink-bar {
      display: none;
    }
  }
}
