<mat-card class="offer-container">
  <mat-card-content>
    <img
      mat-card-image
      [src]="offer.img"
      class="offer-image"
    />
    <mat-card-content>
      <h5 [style.color]="offer.titleColor">
        {{ offer.title }}
      </h5>
      <h3>
        {{ offer.name }}
      </h3>
      <p>${{ offer.price }} per person</p>
      <div class="offer-rating">
        <mat-icon *ngFor="let item of countStars(); let i = index">
          {{ i < offer.rating ? "star" : "star_border" }}
        </mat-icon>
        <span>{{ offer.ratedCount }}</span>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="isAdmin()">
        <button mat-button color="primary" (click)="deleteCurrentOffer()" >Delete</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
