<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="First Name"
      [formControl]="firstNameFormControl"
      required
    />
    <mat-error *ngIf="firstNameFormControl.hasError('required')">
      First Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Last Name"
      [formControl]="lastNameFormControl"
      required
    />
    <mat-error *ngIf="lastNameFormControl.hasError('required')">
      Last Name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Email Address"
      [formControl]="emailFormControl"
      required
    />
    <mat-error
      *ngIf="
        emailFormControl.hasError('email') &&
        !emailFormControl.hasError('required')
      "
    >
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Set A Password"
      [formControl]="passwordFormControl"
      [type]="isHidePassword ? 'password' : 'text'"
      required
    />
    <button
      mat-icon-button
      matSuffix
      (click)="isHidePassword = !isHidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="isHidePassword"
    >
      <mat-icon>{{
        isHidePassword ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>
